@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk";
  color: white;
}

label {
  color: hsl(278, 68%, 11%);
  letter-spacing: 1.4px;
  font-size: 12px;
}

input:focus {
  outline: none;
}
.input-wrapper {
  padding: 1px;
  background-color: hsl(270, 3%, 87%);
  border-radius: 0.5rem;
}
/* .input-wrapper:focus-within {
  background-image: linear-gradient(to right, blue, purple);
} */

.invalid {
  background-image: linear-gradient(to right, red, red);
}
